*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
span{
    color: blue;
}
header{
    text-size-adjust: 50px;
    text-align: center;
    padding: 0.4pc; 
    background-color: rgb(180, 180, 242);
}
header a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 35px;
}
#Home_sec{
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  #Home_sec h1{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #Home_sec p{
    font-size: 18px;
    margin-bottom: 20px;
  }
  #Home_sec.mail{
    margin-top: 20px;
  }
  #Home_sec.mail a{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  #Home_sec.mail a:hover{
    background-color: #3e8e41;
  }
  @media only screen and (max-width: 600px) {
    #Home_sec{
      padding: 10px;
    }
    #Home_sec h1{
      font-size: 25px;
    }
    #Home_sec p{
      font-size: 16px;
    }
    #Home_sec.mail a{
      padding: 5px 10px;
    }
  }
